<div class="container-<%= message.user.id %> border-b py-5">
  <div class="message-<%= message.user.id %>">
    <div class="font-bold pb-3">
      <%= message.user.username %>
    </div>
    <%= message.body %>
  </div>
</div>
